---
import MainLayout from "../layouts/MainLayout.astro"; // импорт стиля
import "../styles/global.css"; //импорт css
---
<MainLayout title="Blog">
    <p>Here's a post about <a href="../posts/samplepost.md">smth</a></p>
</Mainlayout>
