---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to my web site!</h1>
		<p style="color:red">This paragraph is red</p>
		<p style="color:blue">This paragraph is blue</p>
		<h3>This is subheading</h3>
			<ul>
				<li>My favorite color is green</li> 
				<li>My favorite movie is La la land</li>
				<li>A website I visit often is <a href="https://ya.ru/">link text</a></li>
			</ul>
		<h3>Here is a picture I found on the Internet</h3>
		<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26682217-658b-4190-b8f9-09a8609c2ca2/du4tas-8aee5dab-0cea-4a8d-8cd4-8fd6dca4ee6d.jpg/v1/fill/w_1000,h_730,q_75,strp/sunset_with_small_boat_by_dicklesshunter_du4tas-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMwIiwicGF0aCI6IlwvZlwvMjY2ODIyMTctNjU4Yi00MTkwLWI4ZjktMDlhODYwOWMyY2EyXC9kdTR0YXMtOGFlZTVkYWItMGNlYS00YThkLThjZDQtOGZkNmRjYTRlZTZkLmpwZyIsIndpZHRoIjoiPD0xMDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ElSMILOO4bIyzXRwyLriKpuyY3n2I8N8Sw8fg9JdEI4" style="width:300px;height:300px;">	
	</body>
</html>
